# App
STORAGE_PUBLIC_URL=""

# Auth (JWT)
JWT_SECRET=""

# Cors (Optional - default all sites)
# Accept multiple values separate with commas
# Example: ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
# ORIGINS=""

# Database (Knex)
DATABASE_DB=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_HOST=""
DATABASE_PORT=""

DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}?schema=public"
